<h1>Listing Series</h1>

<%= link_to 'New series', new_series_path %>

<table>
  <tr>
    <th>Title</th>
    <th></th>
  </tr>
 
  <% @series.each do |series| %>
    <tr>
      <td><%= series.title %></td>
      <td><%= link_to 'Show', series_path(series) %></td>
      <td><%= link_to 'Edit', edit_series_path(series) %></td>
    </tr>
  <% end %>
</table>